## Это стандартный набор для Visual Studio
## Игнорируем папку с настройками VS
.vs/

## Игнорируем результаты сборки (чтобы не засорять репозиторий)
bin/
obj/
Debug/
Release/

## Игнорируем временные файлы
*.user
*.suo